{% url 'home' as home_url %}
{% url 'account:login' as login_url %}
{% url 'account:register' as register_url %}
{% url 'account:logout' as logout_url %}
{% url 'account:account-home' as account_home_url %}

<nav class="navbar navbar-expand-lg navbar-dark sticky-top mb-3 bg-dark py-1">
    <div class="container">
        <a class="navbar-brand" href="{{ home_url }}">PropertyAnalyzer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">                             
                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{{ logout_url }}">Logout: {{ request.user }}</a>
                        </div>
                      </li>
                {% else %}
                    <li class="nav-item {% if request.path == login_url %} active {% endif %}">
                        <a class="nav-link" href="{{ login_url }}">Login</a>
                    </li>
                    <li class="nav-item {% if request.path == register_url %} active {% endif %}">
                        <a class="nav-link" href="{{ register_url }}">Register</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>