<!doctype html>
<html lang="en">

{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Font-awesome CSS CDN  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

    <!-- Custom CSS  -->
<body>
{% include 'navbar.html' %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'imgs/homePage.jpeg' %}" class="d-block w-100">
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>Property Analyzer</h1>
                    <p>“Analyze the data with the power of the web analyzer!”</p>
                </div>
            </div>
        </div>
    </a>
</div>
</body>