<!doctype html>
<html lang="en">

{% load static %}

{% url 'home' as home_url %}
{% url 'account:login' as login_url %}
{% url 'account:register' as register_url %}
{% url 'account:logout' as logout_url %}
{% url 'account:account-home' as account_home_url %}
{% url 'account:manage-data' as manage_data_url %}
{% url 'account:dashboard' as dashboard_url %}
{% url 'account:scrape' as scrape_url %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Font-awesome CSS CDN  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

    <!-- Custom CSS  -->

    <title>{% block title %} {% endblock %}</title>
</head>

<body>

    <!-- navbar  -->
    {% include 'navbar.html' %}
    <div class="container">
        <div class="col-4">
            <div class="sidenav">
                <a href="{{ dashboard_url }}">Dashboard</a>
                <a href="{{ manage_data_url }}">Manage Data</a>
            </div>
        </div>
        <div class="col-8 center-align" id="scrape-btn">
            <button type="button" type="submit" onclick="location.href='{{ scrape_url }}'" name='url'>ScrapeNow</button>
        </div>
        {{context}}
    </div>
    {% block content %}
        
    {% endblock %}
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Chart.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <!-- Custom JavaScript -->
    {% block JavaScript %}   {% endblock %}
    
</body>


</html> 


